# Database Connection (Supabase PostgreSQL / Cloud DB)
DATABASE_URL=postgresql://postgres.ncfiqnuzvppysfmwnfbh:Kanhaiya%405613@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres

# JWT Secret Key for Admin Authentication
JWT_SECRET=super_secret_jwt_key_moneybeing_2026_assessment

# Credit Bureau API URL (Public Mock or Beeceptor)
CREDIT_API_URL=https://loan-api.free.beeceptor.com

# Next.js Frontend Public API Base URL
NEXT_PUBLIC_API_URL=http://localhost:8000
