# Database Connection (Supabase PostgreSQL / Cloud DB)
DATABASE_URL=

# JWT Secret Key for Admin Authentication
JWT_SECRET=super_secret_jwt_key_moneybeing_2026_assessment

# Credit Bureau API URL (Public Mock or Beeceptor)
CREDIT_API_URL=

# Next.js Frontend Public API Base URL
NEXT_PUBLIC_API_URL=http://localhost:8000
